<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/kalender-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <a
                    role="button"
                    href="https://calendar.google.com/calendar/render?cid=107205f8deba56fcdf3f571915e2b6d38b875fdc1f4cb30a0cb456d73113f9c0@group.calendar.google.com"
                    class="btn btn-primary"
                    target="_blank"
                >
                    LIHAT KALENDER
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <h5 class="card-title">Kalender KM FK UII</h5>
            <p class="card-text">
                Berisi <strong>hasil kalenderisasi</strong>
                berupa penjadwalan yang
                <strong
                    >memastikan seluruh kegiatan KM FK UII tidak bentrok</strong
                >. Diperbarui secara berkala.
            </p>
        </div>
    </div>
</div>
