<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/verifikasi-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <div class="row g-1">
                    <div class="col d-grid">
                        <a
                            role="button"
                            href="/akun/daftar/"
                            class="btn btn-success"
                        >
                            BUAT AKUN
                        </a>
                    </div>
                    <div class="col d-grid">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#auth_login_modal"
                        >
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            URUS
                        </button>
                    </div>
                </div>
                <a
                    role="button"
                    href="/kegiatan/jadwal-rapat/"
                    class="btn btn-outline-primary"
                >
                    LIHAT JADWAL RAPAT
                </a>
            </div>
            <h5 class="card-title">Verifikasi Kegiatan KM FK UII</h5>
            <p class="card-text">
                Setiap kegiatan KM FK UII
                <strong>perlu dilakukan verifikasi</strong> untuk mendapatkan
                <strong>persetujuan dan pengesahan LEM-DPM</strong>. Buat akun
                kegiatan kemudian urus verifikasi lewat menu ini.
            </p>
        </div>
    </div>
</div>
