<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/keu-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <div class="row g-1">
                    <div class="col d-grid">
                        <a
                            role="button"
                            href="/kegiatan/rutin-keu/"
                            class="btn btn-success"
                        >
                            RUTIN
                        </a>
                    </div>
                    <div class="col d-grid">
                        <a
                            role="button"
                            href="/kegiatan/triwulan/"
                            class="btn btn-primary"
                        >
                            TRIWULAN
                        </a>
                    </div>
                </div>
            </div>
            <h5 class="card-title">Keuangan KM FK UII</h5>
            <p class="card-text">
                <strong>Database keuangan utama</strong> di KM FK UII. Menu
                rutin meliputi
                <strong
                    class="text-decoration-underline"
                    data-bs-toggle="tooltip"
                    data-bs-title="Financial timeline mencatat jejak keuangan tiap kegiatan."
                    >Fintime</strong
                ><!-- ,
                <strong
                    class="text-decoration-underline"
                    data-bs-toggle="tooltip"
                    data-bs-title="Financial card mencatat keadaan keuangan tiap kegiatan."
                    >Fincard</strong
                >, dan
                <strong
                    class="text-decoration-underline"
                    data-bs-toggle="tooltip"
                    data-bs-title="Form Isian Rencana Anggaran Aktivitas mencatat idealita dan realita keuangan tiap organisasi."
                    >FIRAA</strong
                > -->. Diperbarui secara berkala.
            </p>
        </div>
    </div>
</div>
