<div
    class="card border-antrean animate animate-rise-on-enter animate-delay-200"
    id="antrean_card"
>
    <div
        class="card-header border-0 text-bg-antrean d-flex gap-1 align-items-center"
    >
        <span id="antrean_header_title">Antrean</span>
        <span class="badge text-bg-danger" id="antrean_badge">*</span>
    </div>
    <div class="card-body p-0">
        <ul
            class="list-group list-group-flush small"
            id="list_group_antrean"
        ></ul>
    </div>
</div>

<style>
    #list_group_antrean li:last-child {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }
</style>
