<div
    class="card border-jadwal mb-3 animate animate-rise-on-enter animate-delay-100"
>
    <div class="card-header border-0 text-bg-jadwal">
        <span id="jadwal_header_title">Jadwal</span>
    </div>
    <div class="card-body p-0">
        <div
            class="btn-group d-flex border-bottom rounded-0"
            role="group"
            id="jadwal_pagination_group"
        >
            <button
                type="button"
                class="btn btn-light rounded-0"
                aria-label="Previous"
            >
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <span class="btn btn-light disabled opacity-100 fw-bold">-</span>
            <button
                type="button"
                class="btn btn-light rounded-0"
                aria-label="Next"
            >
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        <div
            class="d-flex gap-1 justify-content-center align-items-center border-bottom px-3 py-1 text-center small"
            id="jadwal_info_row"
        >
            <i class="fa-solid fa-circle-check"></i>
            <span>Terbuka untuk pendaftaran.</span>
        </div>
        <div class="table-responsive">
            <table
                class="table table-striped align-middle table-sm small text-center mb-1"
                style="min-width: 400px"
                id="jadwal_table"
            >
                <thead class="table-light align-middle small">
                    <tr>
                        <td style="min-width: 50px; width: 10%">
                            Tgl
                            <hr class="m-0" />
                            Jam
                        </td>
                        <td style="width: 18%">-</td>
                        <td style="width: 18%">-</td>
                        <td style="width: 18%">-</td>
                        <td style="width: 18%">-</td>
                        <td style="width: 18%">-</td>
                    </tr>
                </thead>
                <tbody class="small">
                    <tr>
                        <td>-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            class="d-flex gap-1 justify-content-center align-items-center border-bottom px-3 py-1 text-center small visually-hidden"
            id="jadwal_more_info"
        >
            <span class="badge text-bg-danger">-</span>
            <span>hanya untuk <i>reschedule</i>.</span>
        </div>
    </div>
</div>

<style>
    #jadwal_pagination_group button.disabled {
        opacity: 1;
    }
    #jadwal_pagination_group button.disabled i {
        opacity: 0;
    }
    #jadwal_table thead td:first-child,
    #jadwal_table tbody td:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
    }
</style>
