<div class="container mt-4 mb-3">
    <footer>
        <small>
            <div
                class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3"
            >
                <div class="col mb-3">
                    <h6>IKUTI</h6>
                    <div class="d-grid gap-1">
                        <span>
                            <a
                                href="https://www.instagram.com/lem_fkuii"
                                class="btn-link text-decoration-none text-secondary"
                                target="_blank"
                            >
                                <i class="fa-brands fa-instagram"></i> lem_fkuii
                            </a>
                        </span>
                        <span>
                            <a
                                href="https://www.instagram.com/dpmfkuii"
                                class="btn-link text-decoration-none text-secondary"
                                target="_blank"
                            >
                                <i class="fa-brands fa-instagram"></i> dpmfkuii
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col mb-3">
                    <h6>KONTAK</h6>
                    <div class="d-grid gap-1">
                        <span>
                            <a
                                href="https://line.me/R/ti/p/%40aye2320t"
                                class="btn-link text-decoration-none text-secondary"
                                target="_blank"
                            >
                                <i class="fa-brands fa-line"></i> @aye2320t
                            </a>
                        </span>
                        <span>
                            <a
                                href="mailto:sekretariatlemfkuii@gmail.com"
                                class="btn-link text-decoration-none text-secondary"
                                target="_blank"
                            >
                                <i class="fa-regular fa-envelope"></i>
                                sekretariatlemfkuii@gmail.com
                            </a>
                        </span>
                        <span>
                            <a
                                href="mailto:fkuiidpm@gmail.com"
                                class="btn-link text-decoration-none text-secondary"
                                target="_blank"
                            >
                                <i class="fa-regular fa-envelope"></i>
                                fkuiidpm@gmail.com
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-end mt-3">
                &copy; <span id="copyright_year_text">2024</span> KM FK UII
            </div>
        </small>
    </footer>
</div>

<script defer>
    (() => {
        dom.q("#copyright_year_text").textContent = new Date()
            .getFullYear()
            .toString();
    })();
</script>
