<style>
    #jadwal_verif_iframe {
        user-select: none !important;
        -webkit-user-select: none !important;
        touch-action: none !important;
    }
</style>

<div id="jadwal_verif">
    <h2 class="mb-3">Jadwal Verifikasi</h2>
    <div class="mb-3">
        <div class="accordion">
            <div class="accordion-item bg-white">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panels_jadwal_verif_antrean"
                        aria-expanded="true"
                        aria-controls="panels_jadwal_verif_antrean"
                    >
                        ANTREAN
                        <span
                            class="badge text-bg-danger mx-2"
                            id="jadwal_verif_antrean_badge"
                            >0</span
                        >
                        <small>
                            <strong>
                                (menunggu konfirmasi untuk masuk kalender)
                            </strong>
                        </small>
                    </button>
                </h2>
                <div
                    id="panels_jadwal_verif_antrean"
                    class="accordion-collapse collapse show"
                >
                    <div class="accordion-body">
                        <ol id="list_antrean_items" class="mb-0">
                            <i class="text-secondary">Tidak ada antrean.</i>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-white">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panels_jadwal_verif_terkonfirmasi"
                        aria-expanded="true"
                        aria-controls="panels_jadwal_verif_terkonfirmasi"
                    >
                        TERKONFIRMASI
                        <small class="ms-1">
                            <strong>(sudah masuk kalender di bawah)</strong>
                        </small>
                    </button>
                </h2>
                <div
                    id="panels_jadwal_verif_terkonfirmasi"
                    class="accordion-collapse collapse show"
                >
                    <div class="accordion-body">
                        <div id="iframe_width_reference"></div>
                        <div style="overflow: hidden">
                            <iframe
                                id="jadwal_verif_iframe"
                                src="https://docs.google.com/spreadsheets/d/12GW7UDUhk939EKGqWc23xbBs3iW2jmOYE-zF_kEWRNU/edit?usp=sharing"
                                style="transform: translate(-46px, -166px)"
                                width="860"
                                height="800"
                                frameborder="0"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>
    (() => {
        document.addEventListener("DOMContentLoaded", () => {
            // update antrean
            const db_antrean_verif = firebase
                .database()
                .ref(`/${G.DB_NAME_ANTREAN_VERIF}`);

            const list_antrean_items = document.querySelector(
                "#list_antrean_items"
            );
            const jadwal_verif_antrean_badge = document.querySelector(
                "#jadwal_verif_antrean_badge"
            );
            db_antrean_verif.on("value", (snapshot) => {
                const val = snapshot.val();
                if (val) {
                    list_antrean_items.innerHTML = "";
                    let antrean_count = 0;
                    for (const key in val) {
                        const item = val[key];
                        if (item.status === "ANTREAN") {
                            const li = document.createElement("li");
                            li.classList.add("mb-2");

                            li.innerHTML = `
                            <strong>
                                ${common.convert_date_string_to_text(
                                    item.tanggal_verif
                                )}
                            </strong> <span class="text-primary">${
                                item.jam_verif
                            } WIB</span>
                            <div>
                                <small>
                                    <span class="badge text-bg-${
                                        G.C[item.verif_dengan]
                                    }">
                                        ${item.verif_dengan}
                                    </span>
                                    <span class="badge text-bg-secondary">
                                    ${item.penyelenggara_kegiatan.substr(0, 3)}
                                    </span>
                                    ${item.jenis_verif}_${item.nama_kegiatan}
                                </small>
                            </div>`;

                            list_antrean_items.appendChild(li);
                            antrean_count++;
                        }
                    }
                    if (jadwal_verif_antrean_badge !== null) {
                        jadwal_verif_antrean_badge.innerText =
                            antrean_count.toString();
                    }
                    if (antrean_count === 0) {
                        list_antrean_items.innerHTML =
                            '<i class="text-secondary">Tidak ada antrean.</i>';
                    }
                }
            });

            // update iframe on resize
            const jadwal_verif_iframe = document.querySelector(
                "#jadwal_verif_iframe"
            );
            const iframe_width_reference = document.querySelector(
                "#iframe_width_reference"
            );
            const accordion_body = document.querySelector(
                "#panels_jadwal_verif_terkonfirmasi > .accordion-body"
            );
            const resize_iframe = () => {
                try {
                    jadwal_verif_iframe.setAttribute(
                        "width",
                        `${iframe_width_reference.clientWidth + 46}`
                    );
                    accordion_body.setAttribute(
                        "style",
                        `height: ${
                            jadwal_verif_iframe.clientHeight - 166 + 38
                        }px`
                    );
                } catch {}
            };
            window.addEventListener("resize", () => resize_iframe());
            resize_iframe();
        });
    })();
</script>
