<ol>
    <li class="mb-2">
        Pendaftaran verifikasi
        <strong>dibuka Senin—Sabtu selama 24 jam</strong> dan hanya dapat
        memilih untuk <strong>dijadwalkan pada minggu selanjutnya</strong>.
    </li>
    <li class="mb-2">
        Ketersediaan jadwal dapat dicek secara berkala pada kolom
        <strong>‘ANTREAN’</strong> dan <strong>‘TERKONFIRMASI’</strong> pada
        <a href="#jadwal-verif" class="btn-link text-black">jadwal verifikasi</a
        >.
    </li>
    <li class="mb-2">
        Konfirmasi akan dibalas dalam<strong
            ><i>working hours</i> 08.00—20.00</strong
        >. Jadwal terkonfirmasi akan dipublikasikan di
        <a href="https://line.me/R/ti/p/%40aye2320t" class="btn-link text-black"
            >OA LINE</a
        >
        dan
        <a
            href="https://www.instagram.com/lem_fkuii"
            class="btn-link text-black"
            >Instagram LEM</a
        >
        pada hari Minggu pukul 12.00 WIB.
    </li>
</ol>
