<ol>
    <li>
        Pendaftaran verifikasi
        <strong>dibuka Senin—Sabtu selama 24 jam</strong> dan hanya dapat
        memilih untuk <strong>dijadwalkan pada minggu selanjutnya</strong>.
    </li>
    <li>
        Ketersediaan jadwal dapat dicek secara berkala pada kolom
        <strong>‘ANTREAN’</strong> dan <strong>‘TERKONFIRMASI’</strong> pada
        <strong><a href="#jadwal-verif" class="btn-link">jadwal verifikasi</a></strong>.
    </li>
    <li>
        Konfirmasi akan dibalas dalam<strong
            ><i>working hours</i> 08.00—20.00</strong
        >. Jadwal terkonfirmasi akan dipublikasikan di OA LINE dan Instagram LEM
        pada hari Minggu jam 12.00 WIB.
    </li>
</ol>
