<ol>
    <li class="mb-2">
        <strong class="text-danger">Pendaftaran verif</strong> dibuka
        <strong class="text-primary">Senin—Sabtu</strong> selama 24 jam dan
        hanya dapat memilih untuk
        <strong>dijadwalkan pada minggu selanjutnya</strong>.
    </li>
    <li class="mb-2">
        Memilih <strong class="text-danger">waktu verif</strong>
        <strong class="text-primary">Senin—Jum’at</strong> pukul 15.30—20.00 WIB
        (atau 15.30—16.30 WIB dan 21.00—21.30 WIB di bulan puasa).
    </li>
    <li class="mb-2">
        <strong>Ketersediaan waktu verif</strong> dapat dicek secara berkala
        pada kolom <strong>‘ANTREAN’</strong> dan
        <strong>‘TERKONFIRMASI’</strong> pada
        <a href="#jadwal-verif" class="btn-link text-black">jadwal verifikasi</a
        >.
    </li>
    <li class="mb-2">
        Setelah mengisi form, permintaan verif akan masuk
        <strong>‘ANTREAN’</strong> dan <strong>yang disetujui</strong> akan
        dimasukkan jadwal verif <strong>‘TERKONFIRMASI’</strong>.
        <strong class="text-danger">Persetujuan jadwal</strong> akan
        dipublikasikan di <i>website</i>,
        <a
            href="https://line.me/R/ti/p/%40aye2320t"
            class="btn-link text-black"
            target="_blank"
            >Line OA</a
        >, dan
        <a
            href="https://www.instagram.com/lem_fkuii"
            class="btn-link text-black"
            target="_blank"
            >Instagram LEM</a
        >
        setiap hari <strong class="text-primary">Minggu</strong> pukul 12.00
        WIB.
    </li>
</ol>
