<style>
    @media only screen and (max-width: 360px) {
        #navbar_brand {
            display: none !important;
        }
    }
</style>

<nav class="navbar">
    <div class="container my-3">
        <a class="navbar-brand" href="./">
            <img
                src="./images/UII-Biru.png"
                alt="Logo"
                height="36"
                style="transform: translateY(-2.5px)"
            />
            <span
                id="navbar_brand"
                class="text-secondary navbar-brand ms-2 fs-4"
                ><strong>Web</strong> KM FK UII</span
            >
        </a>
    </div>
</nav>
