<script defer src="js/auto_resize_textarea.js"></script>
<div class="mb-3">
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input
                    name="nama_pendaftar"
                    type="text"
                    class="form-control"
                    id="input_nama_pendaftar"
                    placeholder=""
                    required
                />
                <label for="input_nama_pendaftar">Nama Pendaftar*</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select
                    name="organisasi"
                    class="form-select"
                    id="input_organisasi"
                    required
                >
                    <option disabled selected value>
                        -- Pilih organisasi --
                    </option>
                    <option value="LEM">LEM</option>
                    <option value="LPM CARDIOS">LPM CARDIOS</option>
                    <option value="CMIA">CMIA</option>
                    <option value="TBMM HUMERUS">TBMM HUMERUS</option>
                    <option value="SMART">SMART</option>
                    <option value="CIMSA">CIMSA</option>
                    <option value="Medical UII FC">Medical UII FC</option>
                    <option value="Basket">Basket</option>
                    <option value="Dara Meutuwah">Dara Meutuwah</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Nada Medika">Nada Medika</option>
                    <option value="Non organisasi">Non organisasi</option>
                </select>
                <label for="input_organisasi">Organisasi*</label>
            </div>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="form-floating">
        <input
            name="nama_kegiatan"
            type="text"
            class="form-control"
            id="input_nama_kegiatan"
            placeholder=""
            required
        />
        <label for="input_nama_kegiatan">Nama Kegiatan*</label>
    </div>
</div>
<div class="mb-3">
    <div class="form-floating">
        <textarea
            name="deskripsi_kegiatan"
            class="form-control auto-resize"
            id="input_deskripsi_kegiatan"
            placeholder=""
            required
        ></textarea>
        <label for="input_deskripsi_kegiatan">Deskripsi Kegiatan*</label>
    </div>
</div>
<div class="mb-3">
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <select
                    name="penyelenggara_kegiatan"
                    class="form-select"
                    id="input_penyelenggara_kegiatan"
                    required
                >
                    <option value="INTERNAL" selected>Internal UII</option>
                    <option value="EKSTERNAL">Eksternal UII</option>
                </select>
                <label for="input_penyelenggara_kegiatan">Penyelenggara Kegiatan*</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select
                    name="lingkup_kegiatan"
                    class="form-select"
                    id="input_lingkup_kegiatan"
                    required
                >
                    <option value="FAKULTAS" selected>Fakultas</option>
                    <option value="UNIVERSITAS">Universitas</option>
                    <option value="DAERAH">Daerah</option>
                    <option value="WILAYAH">Wilayah</option>
                    <option value="NASIONAL">Nasional</option>
                    <option value="INTERNASIONAL">Internasional</option>
                </select>
                <label for="input_lingkup_kegiatan">Lingkup Kegiatan*</label>
            </div>
        </div>
    </div>
</div>
<div class="mb-3 row align-items-center">
    <label class="col-md-2 col-form-label">Jenis Verif*</label>
    <div class="col-md-10">
        <input
            type="radio"
            name="jenis_verif"
            value="PROPOSAL"
            class="btn-check"
            id="input_jenis_verif_proposal"
            autocomplete="off"
            required
            checked
        />
        <label class="btn btn-outline-primary" for="input_jenis_verif_proposal"
            >PROPOSAL</label
        >

        <input
            type="radio"
            name="jenis_verif"
            value="LPJ"
            class="btn-check"
            id="input_jenis_verif_lpj"
            autocomplete="off"
        />
        <label class="btn btn-outline-primary" for="input_jenis_verif_lpj"
            >LPJ</label
        >
    </div>
</div>
<div class="mb-3 row align-items-center">
    <label class="col-md-2 col-form-label">Verif dengan*</label>
    <div class="col-md-10">
        <input
            type="radio"
            name="verif_dengan"
            value="LEM"
            class="btn-check"
            id="input_verif_dengan_lem"
            autocomplete="off"
            required
            checked
        />
        <label class="btn btn-outline-warning" for="input_verif_dengan_lem"
            >LEM</label
        >
        <input
            type="radio"
            name="verif_dengan"
            value="DPM"
            class="btn-check"
            id="input_verif_dengan_dpm"
            autocomplete="off"
        />
        <label class="btn btn-outline-info" for="input_verif_dengan_dpm"
            >DPM</label
        >
        <input
            type="radio"
            name="verif_dengan"
            value="PRESIDIUM"
            class="btn-check"
            id="input_verif_dengan_presidium"
            autocomplete="off"
        />
        <label
            class="btn btn-outline-primary"
            for="input_verif_dengan_presidium"
            >PRESIDIUM</label
        >
    </div>
</div>
<div class="mb-3 row align-items-center">
    <label class="col-md-2 col-form-label">Waktu Verif*</label>
    <div class="col-md-10">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                        name="tanggal_verif"
                        type="date"
                        class="form-control"
                        id="input_tanggal_verif"
                        required
                    />
                    <label for="input_tanggal_verif">Tanggal</label>
                    <div
                        id="validation_input_tanggal_verif_feedback"
                        class="invalid-feedback"
                    ></div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select
                        name="jam_verif"
                        class="form-select"
                        id="input_jam_verif"
                        required
                    >
                        <option disabled selected value>-- Pilih jam --</option>
                    </select>
                    <label for="input_jam_verif">Jam</label>
                    <div
                        id="validation_input_jam_verif_feedback"
                        class="invalid-feedback"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-grid">
    <button
        class="btn btn-success btn-lg"
        style="width: 100%"
        type="submit"
        id="input_submit_button"
    >
        DAFTAR VERIF
    </button>
</div>
