<div class="atur-card-section">
    <h6>Link Berkas</h6>
    <small class="text-secondary">
        <small>Atur link berkas verifikasi LEM dan DPM.</small>
    </small>
    <div class="input-group mt-2 mb-2">
        <span class="input-group-text">LEM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Link berkas LEM"
            aria-label="Verifikasi Link Berkas LEM"
        />
    </div>
    <div class="input-group">
        <span class="input-group-text">DPM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Link berkas DPM"
            aria-label="Verifikasi Link Berkas DPM"
        />
    </div>
</div>

<div class="atur-card-section">
    <h6>Jam Rapat</h6>
    <small class="text-secondary">
        <small>
            Atur dengan format JJ.MM dipisah koma (contoh: 08.00, 16.30, 20.00,
            dsb.) Jam Tersedia akan muncul di tabel jadwal. Jam Resched akan
            muncul di jadwal sebagai jam yang hanya untuk reschedule (tidak bisa
            dipilih pengurus, tapi bisa dipilih admin). Kosongkan Jam Resched
            jika ingin semua opsi bisa dipilih.
        </small>
    </small>
    <div class="input-group mt-2 mb-2">
        <span class="input-group-text">Jam Tersedia</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="16.00, 19.00, 20.30, dsb."
            aria-label="Verifikasi Jam Rapat Tersedia"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Jam Resched LEM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="19.00, dsb."
            aria-label="Verifikasi Jam Resched LEM"
        />
    </div>
    <div class="input-group">
        <span class="input-group-text">Jam Resched DPM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="19.00, dsb."
            aria-label="Verifikasi Jam Resched DPM"
        />
    </div>
</div>

<div class="atur-card-section">
    <h6>Komunikasi</h6>
    <small class="text-secondary">
        <small>
            Atur kontak-kontak yang digunakan dalam proses verifikasi (templat
            email, footer, dsb.) Tidak mengubah panduan.
        </small>
    </small>
    <div class="input-group mt-2 mb-2">
        <span class="input-group-text">Instagram LEM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Instagram LEM"
            aria-label="Verifikasi Instagram LEM"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Instagram DPM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Instagram DPM"
            aria-label="Verifikasi Instagram DPM"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Line OA LEM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Line OA LEM"
            aria-label="Verifikasi Line OA LEM"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Email LEM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Email LEM"
            aria-label="Verifikasi Email LEM"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Email DPM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Email DPM"
            aria-label="Verifikasi Email DPM"
        />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Email Kemahasiswaan</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Email Kemahasiswaan"
            aria-label="Verifikasi Email Kemahasiswaan"
        />
    </div>
</div>
