<div class="atur-card-section">
    <h6>Sub RKAT</h6>
    <small class="text-secondary">
        <small>Atur jumlah dan nama-nama Sub RKAT dari tiap periode.</small>
    </small>
    <!-- <div class="input-group mt-2 mb-2">
        <span class="input-group-text">Periode</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Link berkas LEM"
            aria-label="Verifikasi Link Berkas LEM"
        />
    </div>
    <div class="input-group">
        <span class="input-group-text">DPM</span>
        <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Link berkas DPM"
            aria-label="Verifikasi Link Berkas DPM"
        />
    </div> -->
</div>
