<div class="atur-card-section">
    <h6>Informasi Terbaru</h6>
    <small class="text-secondary">
        <small>Atur informasi terbaru.</small>
    </small>
</div>

<div class="atur-card-section">
    <h6><span class="text-secondary">Alur:</span> Rapat</h6>
    <small class="text-secondary">
        <small>Atur alur pendaftaran rapat verifikasi.</small>
    </small>
</div>

<div class="atur-card-section">
    <h6><span class="text-secondary">Alur:</span> Berkas</h6>
    <small class="text-secondary">
        <small>Atur alur pemberkasan dalam verifikasi.</small>
    </small>
</div>

<div class="atur-card-section">
    <h6><span class="text-secondary">Alur:</span> Komunikasi</h6>
    <small class="text-secondary">
        <small>Atur alur komunikasi dalam verifikasi.</small>
    </small>
</div>

<div class="d-flex justify-content-center">
    <insert-component-keu/fincard />
</div>
