<div class="atur-card-section">
    <h6>Hapus Jadwal Usang</h6>
    <small class="text-secondary">
        <small>
            Hapus jadwal yang sudah lewat di kalender untuk menghemat
            penyimpanan <i>website</i>.
        </small>
    </small>
</div>

<div class="atur-card-section">
    <h6>Hapus Akun Usang</h6>
    <small class="text-secondary">
        <small>
            Hapus akun kegiatan/UID yang sudah lama <i>banget</i> (tidak akan
            dipakai lagi) untuk menghemat penyimpanan <i>website</i>.
        </small>
    </small>
</div>
