<div class="accordion-item bg-white rounded-0">
    <h2 class="accordion-header rounded-0">
        <button
            class="accordion-button rounded-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_sistem_panduan"
            aria-expanded="true"
            aria-controls="panel_sistem_panduan"
        >
            <span class="fs-4">Panduan</span>
        </button>
    </h2>
    <div id="panel_sistem_panduan" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <button class="btn btn-km-primary mb-2">
                [WIP] Edit alur (informasi terbaru, rapat, berkas, komunikasi,
                panduan 1, panduan 2) - bagi key items dan custom
            </button>
            <br />
        </div>
    </div>
</div>
