<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_informasi_terbaru"
        aria-expanded="true"
        aria-controls="callout_informasi_terbaru"
    >
        <i class="fa-solid fa-bell"></i> Informasi terbaru
    </h6>
    <ul class="small collapse show" id="callout_informasi_terbaru">
        <!-- <li>
            <i>It's Fintime!</i> Cek status pengajuan, pencairan, dan pengiriman
            dana lewat
            <span
                role="button"
                class="btn-link text-km-primary"
                id="callout_link_panel_keuangan"
                >panel keuangan</span
            >
            di bawah panel komunikasi.
        </li>
        <li>Fintime diperbarui secara berkala oleh Komisi II DPM FK UII.</li> -->
        <li>Tidak ada informasi terbaru.</li>
    </ul>
</div>

<script defer>
    document
        .querySelector("#callout_link_panel_keuangan")
        .addEventListener("click", () => {
            document.querySelector("#panel_keuangan").scrollIntoView();
        });
</script>
