<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_informasi_terbaru"
        aria-expanded="true"
        aria-controls="callout_informasi_terbaru"
    >
        <i class="fa-solid fa-bell"></i> Informasi terbaru
    </h6>
    <ul class="small collapse show" id="callout_informasi_terbaru">
        <li class="mb-2">
            Batas waktu unggah berkas sekarang adalah
            <strong class="text-danger">H-5 jam</strong> (sebelumnya H-8 jam) dari rapat verifikasi.
            <ul class="small">
                <li>
                    <strong class="text-danger"
                        ><i class="fa-solid fa-triangle-exclamation"></i> Lewat
                        batas waktu, proses verifikasi akan dibatalkan dan harus
                        mendaftar ulang.</strong
                    >
                </li>
            </ul>
        </li>
    </ul>
</div>

<script defer>
    document
        .querySelector("#callout_link_panel_keuangan")
        .addEventListener("click", () => {
            document.querySelector("#panel_keuangan").scrollIntoView();
        });
</script>
