<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_informasi_terbaru"
        aria-expanded="true"
        aria-controls="callout_informasi_terbaru"
    >
        <i class="fa-solid fa-bell"></i> Informasi terbaru
    </h6>
    <ul class="small collapse show" id="callout_informasi_terbaru">
        <li>
            Perubahan jam rapat LEM yang tersedia dari 7 opsi mulai 15.30
            menjadi 4 opsi mulai 18.30. Jam lain tetap bisa digunakan untuk
            <i>reschedule</i>.
        </li>
        <li>
            Lihat jam yang tersedia saat daftar rapat (LEM dan DPM bisa
            berbeda.)
        </li>
    </ul>
</div>
