<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_alur_unggah_berkas"
        aria-expanded="false"
        aria-controls="callout_alur_unggah_berkas"
    >
        <i class="fa-solid fa-circle-info"></i> Alur unggah berkas
    </h6>
    <ol class="small collapse" id="callout_alur_unggah_berkas">
        <li class="mb-2">
            <strong>Unggah berkas</strong> dalam bentuk <strong>PDF</strong>.
        </li>
        <li class="mb-2">
            Unggah berkas dimulai
            <strong>setelah jadwal disetujui</strong> sampai maksimal
            <strong class="text-danger">H-8 jam</strong> rapat verifikasi.
            <ul class="small">
                <li>
                    <strong class="text-danger"
                        ><i class="fa-solid fa-triangle-exclamation"></i> Lewat
                        batas waktu, proses verifikasi akan dibatalkan dan harus
                        mendaftar ulang.</strong
                    >
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Perhatikan <strong>tempat mengunggah berkas</strong> sesuai tabel di
            bawah ini:
            <div class="table-responsive mb-2">
                <table
                    class="table table-striped align-middle table-sm small"
                    style="min-width: max-content"
                    id="berkas_ketentuan_table"
                >
                    <thead>
                        <tr>
                            <th class="text-center">Dengan</th>
                            <th>Jenis</th>
                            <th>Folder</th>
                        </tr>
                    </thead>
                    <tbody class="small"></tbody>
                </table>
            </div>
            <span class="small">
                <strong class="text-danger">FOLDER MERAH</strong>: silakan buat
                folder sendiri jika belum ada.
            </span>
        </li>
        <li class="mb-2">
            <strong><i>Feedback</i></strong> akan diberikan lewat
            <i>comment</i> di berkas PDF dan secara langsung saat rapat
            verifikasi.
            <ul class="small">
                <li>Konfirmasi revisi akan dikabarkan via email.</li>
                <li>
                    <strong class="text-success"
                        >Apabila tidak ada revisi lagi, berkas yang sudah di-TTD
                        akan dikirimkan via email dan proses verifikasi
                        dinyatakan selesai.</strong
                    >
                </li>
            </ul>
        </li>
        <li class="mb-2">
            <strong>Unggah berkas revisi</strong> maksimal
            <strong class="text-danger">H+2 hari</strong> setelah diberi
            <i>feedback</i>.
            <ul class="small">
                <li>
                    <strong class="text-danger"
                        ><i class="fa-solid fa-triangle-exclamation"></i> Lewat
                        batas waktu, proses verifikasi akan dibatalkan dan harus
                        mendaftar ulang.</strong
                    >
                </li>
                <li>
                    Maksimal
                    <strong class="text-danger"
                        >bisa kurang dari H+2 hari</strong
                    >
                    (sebelum unggah berkas DPM.)
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Jangan lupa <strong>konfirmasi email</strong> setelah selesai
            mengunggah untuk notifikasi LEM/DPM.
        </li>
    </ol>
</div>
