<h6 class="mb-2 text-body-secondary">Alur daftar rapat verifikasi:</h6>
<small>
    <ol>
        <li class="mb-2">
            Pendaftaran rapat verifikasi dibuka
            <strong>Senin—Sabtu</strong> selama 24 jam dan hanya dapat memilih
            untuk <strong>dijadwalkan pada minggu selanjutnya</strong>.
        </li>
        <li class="mb-2">
            <strong>Klik tombol</strong>
            <span class="text-bg-km-primary px-2 py-1 rounded">Daftar</span>
            sesuai rapat yang diinginkan.
        </li>
        <li class="mb-2">
            <strong>Pilih tanggal dan jam</strong> verifikasi sesuai ketentuan,
            yaitu:
            <ul class="small">
                <li>Senin—Jum’at.</li>
                <li>15.30—20.00 WIB atau</li>
                <li>15.30—16.30 WIB dan 21.00—21.30 WIB di bulan puasa.</li>
                <li>
                    <strong class="text-danger"
                        >Jarak tanggal rapat verifikasi LEM ke DPM minimal 2
                        hari (contoh: LEM di hari Selasa, DPM di hari
                        Kamis.)</strong
                    >
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Setelah memilih tanggal dan jam, permintaan rapat verifikasi akan
            masuk <span class="text-bg-antrean px-1">antrean</span> dan
            <strong>yang disetujui</strong> akan dimasukkan
            <span class="text-bg-jadwal px-1">jadwal</span>.
        </li>
        <li>
            <strong>Menunggu persetujuan jadwal.</strong>
            <ul class="small">
                <li>
                    Persetujuan jadwal dilakukan setiap hari
                    <strong>Minggu</strong> pukul 12.00 WIB dan akan
                    dipublikasikan di <i>website</i>,
                    <a
                        href="https://line.me/R/ti/p/%40aye2320t"
                        class="btn-link text-black"
                        target="_blank"
                        >Line OA</a
                    >, dan
                    <a
                        href="https://www.instagram.com/lem_fkuii"
                        class="btn-link text-black"
                        target="_blank"
                        >Instagram LEM</a
                    >.
                </li>
            </ul>
        </li>
        <li>
            <strong>Notifikasi persetujuan jadwal</strong> akan dikirim lewat
            email akun.
            <ul class="small">
                <li>
                    <strong class="text-danger"
                        >Tidak perlu kirim email konfirmasi.</strong
                    >
                </li>
            </ul>
        </li>
        <li>Lanjut ke <strong>alur unggah berkas kegiatan</strong>.</li>
    </ol>
</small>
