<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_alur_konfirm_email_wotemp"
        aria-expanded="false"
        aria-controls="callout_alur_konfirm_email_wotemp"
    >
        <i class="fa-solid fa-circle-info"></i> Alur konfirmasi email tanpa
        templat
    </h6>
    <ol class="small collapse" id="callout_alur_konfirm_email_wotemp">
        <li class="mb-2">
            <strong class="text-km-primary"
                >Disarankan konfirmasi email dengan templat untuk
                mempermudah.</strong
            >
            <ul class="small">
                <li class="text-body-secondary">
                    Lihat
                    <strong>alur konfirmasi email dengan templat</strong> di
                    bawah.
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Untuk konfirmasi email tanpa templat, mulai dari ketik
            <strong>alamat email penerima</strong>:
            <ul class="small">
                <li>LEM: sekretariatlemfkuii@gmail.com</li>
                <li>DPM: fkuiidpm@gmail.com</li>
            </ul>
        </li>
        <li class="mb-2">
            Tulis <strong>subjek email</strong> sesuai tabel di bawah ini:
            <div class="table-responsive mb-2">
                <table
                    class="table table-striped align-middle table-sm small"
                    style="min-width: max-content"
                >
                    <thead>
                        <tr>
                            <th colspan="2">Pesan</th>
                            <th>Subjek</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <insert-component-urus/dashboard/ketentuan-email />
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <strong>Kirim email</strong> dengan isi yang sesuai.
        </li>
    </ol>
</div>
<hr />
<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_alur_konfirm_email_temp"
        aria-expanded="false"
        aria-controls="callout_alur_konfirm_email_temp"
    >
        <i class="fa-solid fa-circle-info"></i> Alur konfirmasi email dengan
        templat
    </h6>
    <ol class="small collapse" id="callout_alur_konfirm_email_temp">
        <li class="mb-2">
            Pastikan sudah <strong>mengunduh aplikasi</strong> email (Gmail,
            Outlook, dsb.)
            <ul class="small">
                <li>
                    <strong
                        >Penggunaan <i>mobile</i>/HP lebih disarankan</strong
                    >
                    jika sulit mengunduh aplikasi di <i>desktop</i>.
                </li>
            </ul>
        </li>
        <li class="mb-2">
            <strong>Pilih templat</strong> dan <strong>tujuan</strong> email
            lalu klik tombol:
            <div class="mt-1">
                <span class="text-bg-km-primary px-2 py-1 rounded"
                    ><i class="fa-solid fa-envelope"></i> BUKA APLIKASI
                    EMAIL</span
                >
            </div>
        </li>
        <li class="mb-2">
            <strong>Pada aplikasi email akan terisi</strong> tujuan, subjek, dan
            isi email <strong>dari templat</strong>.
        </li>
        <li class="mb-2"><strong>Kirim email</strong>.</li>
        <li>
            <strong>Templat email bisa disalin</strong> jika tidak bisa
            menggunakan aplikasi dan ingin buat sendiri.
        </li>
    </ol>
</div>
