<h6 class="mb-2 text-body-secondary">Ketentuan daftar rapat verifikasi:</h6>
<small>
    <ol>
        <li class="mb-2">
            Pendaftaran rapat verifikasi dibuka
            <strong>Senin—Sabtu</strong> selama 24 jam dan hanya dapat memilih
            untuk <strong>dijadwalkan pada minggu selanjutnya</strong>.
        </li>
        <li class="mb-2">
            <strong>Klik tombol daftar</strong> sesuai rapat yang diinginkan.
        </li>
        <li class="mb-2">
            <strong>Pilih tanggal dan jam</strong> verifikasi sesuai ketentuan,
            yaitu:
            <ul class="small">
                <li>Senin—Jum’at.</li>
                <li>15.30—20.00 WIB atau</li>
                <li>15.30—16.30 WIB dan 21.00—21.30 WIB di bulan puasa.</li>
                <li>
                    <strong class="text-danger"
                        >Jarak tanggal rapat verifikasi LEM ke DPM minimal 2
                        hari</strong
                    >.
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Setelah memilih tanggal dan jam, permintaan rapat verifikasi akan
            masuk <strong>antrean</strong> dan
            <strong>yang disetujui</strong> akan dimasukkan jadwal.
        </li>
        <li>
            <strong>Persetujuan jadwal</strong> dilakukan setiap hari <strong>Minggu</strong> dan
            dapat dilihat mulai pukul 12.00 WIB di
            <strong
                ><i>website</i>,
                <a
                    href="https://line.me/R/ti/p/%40aye2320t"
                    class="btn-link text-black"
                    target="_blank"
                    >Line OA</a
                >, dan
                <a
                    href="https://www.instagram.com/lem_fkuii"
                    class="btn-link text-black"
                    target="_blank"
                    >Instagram LEM</a
                ></strong
            >.
        </li>
        <li>
            <strong>Notifikasi persetujuan jadwal</strong> akan dikirim lewat
            email akun (<strong class="text-danger"
                >tidak perlu kirim email konfirmasi</strong
            >.)
        </li>
    </ol>
</small>
