<div class="border-start border-4 border-km-primary rounded">
    <h6
        class="mb-2 ms-2 text-km-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#callout_alur_daftar_rapat"
        aria-expanded="false"
        aria-controls="callout_alur_daftar_rapat"
    >
        <i class="fa-solid fa-circle-info"></i> Alur daftar rapat verifikasi
    </h6>
    <ol class="small collapse" id="callout_alur_daftar_rapat">
        <li class="mb-2">
            Untuk proposal kegiatan <strong>internal KM</strong>, pastikan
            <strong>tanggal sudah terdaftar di kalenderisasi LEM</strong>.
        </li>
        <li class="mb-2">
            Pendaftaran rapat verifikasi dibuka
            <strong>Senin—Sabtu</strong> selama 24 jam dan hanya dapat memilih
            untuk <strong>dijadwalkan pada minggu selanjutnya</strong>.
        </li>
        <li class="mb-2">
            <strong>Klik tombol</strong>
            <span class="text-bg-km-primary px-2 py-1 rounded">Daftar</span>
            sesuai rapat yang diinginkan.
        </li>
        <li class="mb-2">
            <strong>Pilih tanggal dan jam</strong> verifikasi sesuai ketentuan,
            yaitu:
            <ul class="small">
                <li>Senin—Jum’at.</li>
                <li>Jam yang tersedia (LEM dan DPM bisa berbeda.)</li>
                <li>
                    Batas pendaftaran verifikasi
                    <strong class="text-danger"
                        >proposal H-30 untuk kegiatan internal KM dan H-7 untuk
                        delegasi/eksternal KM.</strong
                    >
                </li>
                <li>
                    Jarak tanggal rapat verifikasi
                    <strong class="text-danger"
                        >LEM ke DPM minimal 2 hari</strong
                    >
                    (contoh: LEM di hari Selasa, DPM di hari Kamis.)
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Setelah memilih tanggal dan jam, permintaan rapat verifikasi akan
            masuk
            <span class="text-bg-antrean px-1">antrean</span> dan
            <strong>yang disetujui</strong> akan dimasukkan
            <span class="text-bg-jadwal px-1">jadwal</span>.
        </li>
        <li>
            <strong>Menunggu persetujuan jadwal.</strong>
            <ul class="small">
                <li>
                    Persetujuan jadwal dilakukan setiap hari
                    <strong>Minggu</strong> pukul 12.00 WIB dan akan
                    dipublikasikan di <i>website</i>,
                    <a
                        href="https://line.me/R/ti/p/%40aye2320t"
                        class="btn-link text-black"
                        target="_blank"
                        >Line OA</a
                    >, dan
                    <a
                        href="https://www.instagram.com/lem_fkuii"
                        class="btn-link text-black"
                        target="_blank"
                        >Instagram LEM</a
                    >.
                </li>
            </ul>
        </li>
        <li>
            <strong>Notifikasi persetujuan jadwal</strong> akan dikirim ke email
            <span id="alur_daftar_rapat_text_email_pendaftar">akun</span>.
            <ul class="small">
                <li>
                    <strong class="text-danger"
                        >Tidak perlu kirim email konfirmasi.</strong
                    >
                </li>
            </ul>
        </li>
        <li>Lanjut ke <strong>alur unggah berkas</strong> di panel berkas.</li>
    </ol>
</div>
