<h6 class="mb-2 text-body-secondary">Ketentuan unggah berkas:</h6>
<small>
    <ol>
        <li class="mb-2">
            Unggah berkas dimulai
            <strong>setelah jadwal disetujui</strong> sampai maksimal
            <strong class="text-danger">H-8 jam</strong> rapat verifikasi.
        </li>
        <li class="mb-2">
            Perhatikan <strong>tempat mengunggah berkas</strong> sesuai tabel di
            bawah ini:
            <div class="table-responsive mb-2">
                <table
                    class="table table-striped align-middle table-sm small"
                    style="min-width: max-content"
                    id="berkas_ketentuan_table"
                >
                    <thead>
                        <tr>
                            <th class="text-center">Dengan</th>
                            <th>Jenis</th>
                            <th>Folder</th>
                        </tr>
                    </thead>
                    <tbody class="small"></tbody>
                </table>
            </div>
            <span class="small">
                <strong class="text-danger">FOLDER MERAH</strong>: silahkan buat
                folder sendiri jika belum ada.
            </span>
        </li>
        <li class="mb-2">
            Jangan lupa <strong>konfirmasi email</strong> setelah selesai
            mengunggah untuk notifikasi LEM/DPM.
        </li>
    </ol>
</small>
