<h6 class="mb-2 text-body-secondary">Ketentuan konfirmasi email:</h6>
<small>
    <ol>
        <li class="mb-2">
            Perhatikan <strong>subjek email</strong> sesuai tabel di bawah ini:
            <div class="table-responsive mb-2">
                <table
                    class="table table-striped align-middle table-sm small"
                    style="min-width: max-content"
                >
                    <thead>
                        <tr>
                            <th colspan="2">Pesan</th>
                            <th>Subjek</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <insert-component-urus/dashboard/ketentuan-email />
                    </tbody>
                </table>
            </div>
        </li>
        <li class="mb-2">
            <strong>Kirim email</strong>. Bisa menggunakan
            <strong>templat email</strong> untuk mempermudah
            <strong>atau buat sendiri</strong>.
        </li>
    </ol>
</small>
<h6 class="mb-2 text-body-secondary">Cara mengirim email dengan templat:</h6>
<small>
    <ol>
        <li class="mb-2">
            Pastikan sudah <strong>mengunduh aplikasi</strong> email (Gmail,
            Outlook, dsb.)
        </li>
        <li class="mb-2">
            <strong>Pilih templat</strong> email lalu klik tombol
            <strong>BUKA APLIKASI EMAIL</strong>.
        </li>
        <li class="mb-2">
            Penerima, subjek, dan pesan akan diisi oleh templat.
        </li>
        <li class="mb-2"><strong>Kirim email</strong>.</li>
        <li class="mb-2">
            <strong>Templat email bisa disalin</strong> jika tidak bisa
            menggunakan aplikasi dan ingin buat sendiri.
        </li>
    </ol>
</small>
