<tr>
    <td rowspan="6">Verifikasi</td>
    <td>Selesai unggah berkas dan<br />kirim <i>link</i> Zoom sekaligus</td>
    <td>VERIFIKASI_BERKAS & LINK ZOOM_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Selesai unggah berkas</td>
    <td>VERIFIKASI_BERKAS_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Kirim <i>link</i> Zoom</td>
    <td>VERIFIKASI_LINK ZOOM_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Selesai unggah berkas revisi</td>
    <td>VERIFIKASI_REVISI_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Selesai unggah berkas revisi 2</td>
    <td>VERIFIKASI_REVISI 2_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Lain-lain</td>
    <td>VERIFIKASI_<i class="text-secondary">menyesuaikan</i>_<span class="text-danger">Nama Kegiatan</span>
    </td>
</tr>
<tr>
    <td colspan="2">Permohonan Tanda Tangan</td>
    <td>PERMOHONAN TTD_<i class="text-secondary">menyesuaikan</i></td>
</tr>
<tr>
    <td rowspan="2">Dana</td>
    <td>Kirim SPD</td>
    <td>PERMOHONAN DANA_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td>Peminjaman Dana</td>
    <td>PEMINJAMAN DANA_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td colspan="2">Peminjaman Inventaris</td>
    <td>PEMINJAMAN_<i class="text-secondary">menyesuaikan</i></td>
</tr>
<tr>
    <td colspan="2">Permohonan Sambutan</td>
    <td>PERMOHONAN SAMBUTAN_<span class="text-danger">Nama Kegiatan</span></td>
</tr>
<tr>
    <td colspan="2">Lain-lain</td>
    <td><i class="text-secondary">menyesuaikan</i></td>
</tr>
