<div class="accordion-item bg-white">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_komunikasi"
            aria-expanded="true"
            aria-controls="panel_komunikasi"
        >
            <span class="fs-4">Komunikasi</span>
        </button>
    </h2>
    <div id="panel_komunikasi" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <insert-component-urus/dashboard/form-templat-email />
        </div>
    </div>
</div>
