<div class="accordion-item bg-white">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_keuangan"
            aria-expanded="true"
            aria-controls="panel_keuangan"
        >
            <span class="fs-4">Keuangan</span>
        </button>
    </h2>
    <div id="panel_keuangan" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <h5>
                <i class="fa-regular fa-credit-card"></i> Fincard
                <i class="text-secondary fs-6">(COMING SOON)</i>
            </h5>
            <div
                class="d-flex justify-content-center"
                id="fincard_single_parent"
            ></div>
            <hr />
            <h5><i class="fa-regular fa-rectangle-list"></i> Fintime</h5>
            <div class="bg-light-subtle table-responsive border rounded mb-2">
                <table
                    class="table table-borderless mb-0"
                    style="min-width: min-content"
                    id="fintime_table"
                >
                    <tbody class="small"></tbody>
                </table>
                <form id="fintime_form">
                    <div
                        class="m-2 p-2 border border-dark-subtle rounded"
                        style="border-style: dashed !important"
                    >
                        <insert-component-admin/form-fintime />
                    </div>
                </form>
            </div>
            <insert-component-keu/fintime-recap />
        </div>
    </div>
</div>

<script defer src="/assets/js/kegiatan/fincard.js"></script>
<script defer src="/assets/js/admin/panel_keuangan.js"></script>
