<div class="accordion-item bg-white border-0">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_rapat_verifikasi"
            aria-expanded="true"
            aria-controls="panel_rapat_verifikasi"
        >
            <span class="fs-4">Rapat Verifikasi</span>
        </button>
    </h2>
    <div id="panel_rapat_verifikasi" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <ul class="list-group"></ul>
        </div>
    </div>
</div>

<style>
    #panel_rapat_verifikasi .list-group-item .btn:disabled {
        background-color: var(--bs-secondary) !important;
        border-color: var(--bs-secondary) !important;
    }
</style>
