<div class="accordion-item bg-white">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_log_kegiatan"
            aria-expanded="true"
            aria-controls="panel_log_kegiatan"
        >
            <span class="fs-4">Log Kegiatan</span>
        </button>
    </h2>
    <div id="panel_log_kegiatan" class="accordion-collapse collapse show">
        <div class="accordion-body p-0">
            <ul class="list-group list-group-flush small"></ul>
        </div>
    </div>
</div>
