<div class="accordion-item bg-white">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_berkas"
            aria-expanded="true"
            aria-controls="panel_berkas"
        >
            <span class="fs-4">Berkas</span>
        </button>
    </h2>
    <div id="panel_berkas" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <ul class="list-group"></ul>
        </div>
    </div>
</div>
