<div class="accordion-item bg-white">
    <h2 class="accordion-header">
        <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel_keuangan"
            aria-expanded="true"
            aria-controls="panel_keuangan"
        >
            <span class="fs-4">Keuangan</span>
        </button>
    </h2>
    <div id="panel_keuangan" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <h6 class="mb-2 text-body-secondary">
                Diperbarui oleh admin secara berkala.
            </h6>
            <hr />
            <h5>
                <i class="fa-regular fa-rectangle-list"></i> Linimasa Keuangan
            </h5>
            <ul class="list-group small mb-3">
                <!-- <div class="d-flex align-items-center">
                    <strong role="status" class="text-secondary fst-italic"
                        >Memuat...</strong
                    >
                    <div
                        class="spinner-border ms-auto"
                        aria-hidden="true"
                    ></div>
                </div> -->
                <li class="list-group-item list-group-item-light">
                    <i class="fa-regular fa-calendar"></i> Mei 2024
                </li>
                <li class="list-group-item list-group-item-light">
                    01 | <i class="fa-solid fa-cash-register"></i> Pengajuan
                    dana
                    <ul class="small">
                        <li>RKAT: Rp7.000.000,00</li>
                        <li>DPM: Rp1.000.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">
                    03 | <i class="fa-solid fa-cash-register"></i> Perubahan
                    pengajuan dana
                    <ul class="small">
                        <li>DPM: Rp600.000,00 ← Rp1.000.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-warning">
                    05 | <i class="fa-regular fa-circle-check"></i> Pengajuan
                    dana diterima
                    <ul class="small">
                        <li>RKAT: Rp7.000.000,00</li>
                        <li>DPM: Rp600.000,00</li>
                    </ul>
                    <span class="small"
                        >Silakan kirimkan SPD kepada pihak terkait dan tunggu
                        dana cair.</span
                    >
                </li>
                <li class="list-group-item list-group-item-success">
                    16 |
                    <i class="fa-solid fa-money-bill-transfer"></i> Peminjaman
                    dana
                    <ul class="small">
                        <li>DPM: Rp1.000.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-warning">
                    25 | <i class="fa-solid fa-coins"></i> Dana telah cair
                    <ul class="small">
                        <li>RKAT: Rp7.000.000,00</li>
                        <li>DPM: Rp600.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">
                    28 | <i class="fa-solid fa-cash-register"></i> Perubahan
                    pengajuan dana
                    <ul class="small">
                        <li>RKAT: Rp4.000.000,00 ← Rp7.000.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-info">
                    29 |
                    <i class="fa-solid fa-money-bill-transfer"></i> Pengembalian
                    dana
                    <ul class="small">
                        <li>RKAT: Rp3.000.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-success">
                    30 |
                    <i class="fa-solid fa-money-bill-transfer"></i> Dana telah
                    dikirim
                    <ul class="small">
                        <li>RKAT: Rp4.000.000,00</li>
                        <li>DPM: Rp600.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">
                    <i class="fa-regular fa-calendar"></i> Juni 2024
                </li>
                <li class="list-group-item list-group-item-danger">
                    08 |
                    <i class="fa-solid fa-money-bills"></i> Penggunaan dana
                    <ul class="small">
                        <li>Kegiatan: Rp4.481.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-info">
                    25 |
                    <i class="fa-solid fa-money-bill-transfer"></i> Pengembalian
                    dana
                    <ul class="small">
                        <li>Kegiatan: Rp119.000,00</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-info">
                    25 |
                    <i class="fa-solid fa-money-bill-transfer"></i> Pengembalian
                    pinjaman
                    <ul class="small">
                        <li>DPM: Rp1.000.000,00</li>
                    </ul>
                </li>
                Waktu
                <input type="datetime-local" />
                Template: ...
                <input type="text" />
                Tipe: info, pencairan, pengiriman, penggunaan, pengembalian (non
                pinjaman)
                <input type="text" />
                Icon
                <input type="text" />
                Judul
                <input type="text" />
                Detail
                <input type="text" />
                Keterangan
                <input type="text" />
            </ul>
            <hr />
            <h5>
                <i class="fa-solid fa-table-list"></i> Rekapitulasi Keuangan
            </h5>
            <div class="table-responsive rounded small border mb-3">
                <table
                    class="table table-striped align-middle text-center mb-1"
                >
                    <thead class="table-light align-middle small">
                        <tr>
                            <th colspan="5" class="text-bg-dark">DPM</th>
                        </tr>
                        <tr>
                            <th>No</th>
                            <th>Transaksi</th>
                            <th>Debit</th>
                            <th>Kredit</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <tr>
                            <td>1</td>
                            <td class="text-start">RKAT</td>
                            <td class="text-warning">Rp7.000.000,00</td>
                            <td class="text-success">-</td>
                            <td>Rp7.000.000,00</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-start">DPM</td>
                            <td class="text-warning">Rp600.000,00</td>
                            <td class="text-success">-</td>
                            <td>Rp7.600.000,00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="text-start">Kegiatan (RKAT)</td>
                            <td class="text-warning">-</td>
                            <td class="text-success">Rp4.000.000,00</td>
                            <td>Rp3.600.000,00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="text-start">Kegiatan (DPM)</td>
                            <td class="text-warning">-</td>
                            <td class="text-success">Rp600.000,00</td>
                            <td>Rp3.000.000,00</td>
                        </tr>
                    </tbody>
                    <tfoot class="small fw-bold">
                        <tr>
                            <td colspan="2">Total</td>
                            <td class="text-warning">Rp7.600.000,00</td>
                            <td class="text-success">Rp4.000.000,00</td>
                            <td class="text-info">Rp3.000.000,00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-responsive rounded small border">
                <table
                    class="table table-striped align-middle text-center mb-1"
                >
                    <thead class="table-light align-middle small">
                        <tr>
                            <th colspan="5" class="text-bg-dark">
                                Kegiatan (20th Jakarta Endocrine Meeting 2024)
                            </th>
                        </tr>
                        <tr>
                            <th>No</th>
                            <th>Transaksi</th>
                            <th>Debit</th>
                            <th>Kredit</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <tr>
                            <td>1</td>
                            <td class="text-start">RKAT</td>
                            <td class="text-success">Rp4.000.000,00</td>
                            <td class="text-danger">-</td>
                            <td>Rp4.000.000,00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="text-start">DPM</td>
                            <td class="text-success">Rp600.000,00</td>
                            <td class="text-danger">-</td>
                            <td>Rp4.600.000,00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="text-start">Kegiatan</td>
                            <td class="text-success">-</td>
                            <td class="text-danger">Rp300.000,00</td>
                            <td>Rp340.000,00</td>
                        </tr>
                    </tbody>
                    <tfoot class="small fw-bold">
                        <tr>
                            <td colspan="2">Total</td>
                            <td class="text-success">Rp640.000,00</td>
                            <td class="text-danger">Rp300.000,00</td>
                            <td class="text-info">Rp0,00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            Dana dicairkan | Dana yang dikirim | Dana yang digunakan | Dana sisa
        </div>
    </div>
</div>
