:root {
    --bs-body-font-family: "Geologica", sans-serif;
    --fincard-max-w: 300px;
}

a.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.border-bottom-dotted {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5) !important;
}

/* km-primary modifier classes */
.text-km-primary {
    color: #042188;
}

.text-bg-km-primary {
    color: #fff;
    background-color: #042188;
}

.border-km-primary {
    --bs-border-opacity: 1;
    border-color: rgba(4, 33, 136, var(--bs-border-opacity)) !important;
}

.btn-km-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #042188;
    --bs-btn-border-color: #042188;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #052aad;
    --bs-btn-hover-border-color: #052aad;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #062ebf;
    --bs-btn-active-border-color: #062ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #042188;
    --bs-btn-disabled-border-color: #042188;
}

.text-bg-jadwal {
    color: #fff !important;
    background-color: #68cb6b !important;
}

.border-jadwal {
    border-color: #68cb6b !important;
}

.text-bg-antrean {
    color: #fff !important;
    background-color: #6868cb !important;
}

.border-antrean {
    border-color: #6868cb !important;
}

.fa-spinner {
    animation: 1.5s linear infinite spinner-border;
}

.text-bg-lpm-cardios {
    color: #fff;
    background-color: #89304c;
}

.text-bg-cmia {
    color: #fff;
    background-color: #a41643;
}

.text-bg-tbmm-humerus {
    color: #222;
    background-color: #97b7ea;
}

.text-bg-smart {
    color: #fff;
    background-color: #2a3968;
}

.text-bg-cimsa {
    color: #fff;
    background-color: #c8102e;
}

.text-bg-light-subtle {
    color: var(--bs-light-text-emphasis) !important;
    background-color: var(--bs-light-bg-subtle) !important;
}

.text-bg-info-subtle {
    color: var(--bs-info-text-emphasis) !important;
    background-color: var(--bs-info-bg-subtle) !important;
}

.text-bg-warning-subtle {
    color: var(--bs-warning-text-emphasis) !important;
    background-color: var(--bs-warning-bg-subtle) !important;
}

.text-bg-success-subtle {
    color: var(--bs-success-text-emphasis) !important;
    background-color: var(--bs-success-bg-subtle) !important;
}

.text-bg-danger-subtle {
    color: var(--bs-danger-text-emphasis) !important;
    background-color: var(--bs-danger-bg-subtle) !important;
}

.form-control-line {
    background: transparent;
    border-width: 0;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.form-control-line:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-floating-label {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating-label-center {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    transform: scale(0.85);
}

/* animate system */
.animate {
    transition: all 500ms;
}

.animate.animate-fade-on-enter {
    opacity: 0;
}

.animate.animate-rise-on-enter {
    opacity: 0;
    transform: translateY(10px);
}

.animate.animate-speed-50 {
    transition: all 250ms;
}

.animate.animate-speed-25 {
    transition: all 125ms;
}

.animate.animate-delay-100 {
    transition-delay: 100ms;
}

.animate.animate-delay-200 {
    transition-delay: 200ms;
}

.animate.animate-delay-300 {
    transition-delay: 300ms;
}

.animate-timing-elastic {
    transition-timing-function: linear(
        0 0%,
        0.22 2.1%,
        0.86 6.5%,
        1.11 8.6%,
        1.3 10.7%,
        1.35 11.8%,
        1.37 12.9%,
        1.37 13.7%,
        1.36 14.5%,
        1.32 16.2%,
        1.03 21.8%,
        0.94 24%,
        0.89 25.9%,
        0.88 26.85%,
        0.87 27.8%,
        0.87 29.25%,
        0.88 30.7%,
        0.91 32.4%,
        0.98 36.4%,
        1.01 38.3%,
        1.04 40.5%,
        1.05 42.7%,
        1.05 44.1%,
        1.04 45.7%,
        1 53.3%,
        0.99 55.4%,
        0.98 57.5%,
        0.99 60.7%,
        1 68.1%,
        1.01 72.2%,
        1 86.7%,
        1 100%
    );
}

.start-animation-rise {
    animation: 125ms ease animation-rise;
}

@keyframes animation-rise {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

#fintime_table tbody tr > td:first-child {
    position: relative;

    text-align: center;
    width: 0%;

    color: var(--bs-light-text-emphasis) !important;
    background-color: var(--bs-light-bg-subtle) !important;
}
#fintime_table tbody tr > td:first-child::before,
#fintime_table tbody tr > td:first-child::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 2px;
    background-color: var(--bs-dark-bg-subtle);
}
#fintime_table tbody tr > td:first-child::before {
    top: 0;
    height: 0.5rem;
}
#fintime_table tbody tr > td:first-child::after {
    bottom: 0;
    height: calc(100% - 2rem);
}
#fintime_table tbody td ul {
    list-style-type: circle;
    margin-bottom: 0;
}
#fintime_rekapitulasi_keuangan_table tbody tr > td:nth-child(2) {
    text-align: start;
}
#fintime_rekapitulasi_keuangan_table tbody tr > td:nth-child(3),
#fintime_rekapitulasi_keuangan_table tfoot tr > td:nth-child(2) {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
#fintime_rekapitulasi_keuangan_table tbody tr > td:nth-child(4),
#fintime_rekapitulasi_keuangan_table tfoot tr > td:nth-child(3) {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
.fincard {
    width: 100%;
    max-width: var(--fincard-max-w);
    border-radius: 0.5rem;
    font-size: 0.75em;
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}
.fincard-body {
    padding: 1rem;
    padding-bottom: 0.25rem;
    overflow-x: auto;
}
.fincard-footer {
    padding: 0.5rem 0;
}
.fincard .label {
    color: rgb(255, 255, 255, 0.3);
}
.fincard.fincard-basic {
    background-color: rgb(0, 35, 120);
    box-shadow: 0 0.15rem 0.6rem rgba(0, 35, 120, 0.6);
}
.fincard.fincard-gold {
    background-color: rgb(210, 181, 67);
    box-shadow: 0 0.15rem 0.6rem rgba(210, 181, 67, 0.8);
}
.fincard.fincard-gold .label {
    color: rgb(0, 0, 0, 0.5);
}
.fincard.fincard-platinum {
    background-color: rgb(26, 12, 35);
    box-shadow: 0 0.15rem 0.6rem rgba(26, 12, 35, 0.8);
    /* background-color: rgb(var(--bs-dark-rgb)); */
    /* box-shadow: 0 0.15rem 0.6rem rgba(var(--bs-dark-rgb), 0.8); */
}
.fincard-vica {
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
}
.fincard table {
    --bs-table-color: #fff;
    --bs-table-bg: transparent;
    color: var(--bs-table-color);
    vertical-align: middle;
    margin-bottom: 0;
}
.fincard table > :not(caption) > * > * {
    padding: 0;
}
.fincard table tr > * {
    width: 50%;
    padding: 0 1rem;
}
.fincard table tr > th {
    text-align: left;
}
.fincard table tr > td {
    position: relative;
    text-align: right;
}
.fincard table tr > td > i {
    position: absolute;
    left: 0;
    transform: translate(-50%, 25%);
}
.fincard-flip-card {
    background-color: transparent;
    width: var(--fincard-max-w);
    perspective: 1000px;
}
.fincard-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.fincard-flip-card.flipped .fincard-flip-card-inner {
    transform: rotateY(-180deg);
}
.fincard-flip-card-front,
.fincard-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fincard-flip-card-back {
    transform: rotateY(-180deg);
}
.fincard-shine {
    position: relative;
    overflow: hidden;
}
.fincard-shine:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: calc(100% + 16px);
    opacity: 0;
    transform: translateX(-100%);
    animation: fincard-shine-slide 8s infinite;
    pointer-events: none;
    /* CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/  */
    background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(50%, rgba(255, 255, 255, 0.8)),
        color-stop(99%, rgba(128, 186, 232, 0)),
        color-stop(100%, rgba(125, 185, 232, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* IE10+ */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
@keyframes fincard-shine-slide {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    20% {
        opacity: 0.33;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
