:root {
    --bs-body-font-family: "Geologica", sans-serif;
}

a.disabled {
    pointer-events: none;
    opacity: 0.65;
}

/* km-primary modifier classes */
.text-km-primary {
    color: #042188;
}

.text-bg-km-primary {
    background-color: #042188;
}

.btn-km-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #042188;
    --bs-btn-border-color: #042188;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #052aad;
    --bs-btn-hover-border-color: #052aad;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #062ebf;
    --bs-btn-active-border-color: #062ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #042188;
    --bs-btn-disabled-border-color: #042188;
}

.text-bg-jadwal {
    color: #fff !important;
    background-color: #68cb6b !important;
}

.border-jadwal {
    border-color: #68cb6b !important;
}

.text-bg-antrean {
    color: #fff !important;
    background-color: #6868cb !important;
}

.border-antrean {
    border-color: #6868cb !important;
}

/* animate system */
.animate {
    transition: all 500ms;
}

.animate.animate-fade-on-enter {
    opacity: 0;
}

.animate.animate-rise-on-enter {
    opacity: 0;
    transform: translateY(10px);
}

.animate.animate-speed-50 {
    transition: all 250ms;
}

.animate.animate-delay-100 {
    transition-delay: 100ms;
}

.animate.animate-delay-200 {
    transition-delay: 200ms;
}

.animate.animate-delay-300 {
    transition-delay: 300ms;
}
