<div class="card">
    <div class="card-header text-center text-bg-success-subtle">
        Rekapitulasi Laporan Realisasi Anggaran RKAT (Rp)
    </div>
    <div class="card-body">
        <div class="table-responsive rounded border" style="max-height: 400px">
            <table
                class="firaa-data-table table table-striped table-hover text-center align-middle table-sm mb-1"
                style="min-width: max-content"
            >
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">No</th>
                        <th scope="col" rowspan="2">Uraian</th>
                        <th scope="col" rowspan="2">Idealisasi FIRAA</th>
                        <th scope="col" rowspan="2">Anggaran</th>
                        <th scope="col" rowspan="2">Corrected FIRAA</th>
                        <th scope="col" colspan="2">Realisasi 2022/2023</th>
                        <th scope="col" colspan="2">Realisasi 2023/2024</th>
                        <th scope="col" colspan="2">
                            Realisasi s.d. 2023/2024
                        </th>
                        <th scope="col" colspan="2">Sisa</th>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>%</th>
                        <th>Total</th>
                        <th>%</th>
                        <th>Total</th>
                        <th>%</th>
                        <th>Total</th>
                        <th>%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7 (6/5)</th>
                        <th scope="col">8</th>
                        <th scope="col">9 (8/5)</th>
                        <th scope="col">10 (6+8)</th>
                        <th scope="col">11 (10/5)</th>
                        <th scope="col">12 (5-10)</th>
                        <th scope="col">13 (12/4)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>LEM</td>
                        <td>belum input</td>
                        <td rowspan="12">859,000,000</td>
                        <td>859,000,000</td>
                        <td>49,328,906</td>
                        <td>5.74%</td>
                        <td>35,620,000</td>
                        <td>4.15%</td>
                        <td>84,948,906</td>
                        <td>9.89%</td>
                        <td>774,051,094</td>
                        <td>90.11%</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>LPM CARDIOS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>CMIA</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>TBMM HUMERUS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>SMART</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>CIMSA</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Medical UII FC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Basket</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Dara Meutuwah</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Badminton</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Nada Medika</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Non organisasi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                        <td>-</td>
                        <td>0.00%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .firaa-data-table {
        font-size: 0.75em;
    }
    .firaa-data-table thead > tr:first-child > th:first-child,
    .firaa-data-table tbody > tr > td:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: -1px;
        z-index: 1;
    }
    .firaa-data-table thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .firaa-data-table tbody > tr > td:nth-child(2) {
        text-align: left;
    }
</style>
