<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/legislasi-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <a
                    role="button"
                    href="https://drive.google.com/drive/folders/1RrCYX1t-VEwVB-xEjChGbc87vJazNYIR?usp=sharing"
                    class="btn btn-primary"
                    target="_blank"
                >
                    LIHAT PRODUK LEGISLASI
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <h5 class="card-title">Produk Legislasi KM FK UII</h5>
            <p class="card-text">
                Berisi
                <strong> produk hukum dan surat-surat keputusan </strong>
                yang berlaku di KM FK UII.
            </p>
        </div>
    </div>
</div>
