<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/kritik-dan-saran-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <a
                    role="button"
                    href="/kritik-dan-saran/"
                    class="btn btn-primary"
                >
                    LIHAT FORM KRITIK & SARAN
                </a>
            </div>
            <h5 class="card-title">Formulir Kritik dan Saran</h5>
            <p class="card-text">
                Berisi <strong>formulir-formulir</strong> yang dapat diisi
                masukan dan aspirasi demi kemajuan KM FK UII.
            </p>
        </div>
    </div>
</div>
