<div class="col mb-3 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/organisasi-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <a role="button" href="/organisasi/" class="btn btn-primary">
                    LIHAT ORGANISASI
                </a>
            </div>
            <h5 class="card-title">Organisasi KM FK UII</h5>
            <p class="card-text">
                Berisi <strong>profil singkat</strong> setiap organisasi
                kemahasiswaan yang ada di KM FK UII.
            </p>
        </div>
    </div>
</div>
