<div class="col mb-4 animate animate-rise-on-enter">
    <div class="card h-100 shadow border-0">
        <img
            src="/assets/images/kegiatan-banner.png"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <div class="d-grid gap-1 mb-3">
                <a role="button" href="/kegiatan/" class="btn btn-primary">
                    BUKA MENU KEGIATAN
                </a>
            </div>
            <h5 class="card-title">Kegiatan KM FK UII</h5>
            <p class="card-text">
                Berisi fitur-fitur untuk mempermudah proses
                <strong>administrasi kegiatan</strong> di KM FK UII.
            </p>
        </div>
    </div>
</div>
