<h6>0.2a</h6>
<div>What's new in version 0.2a Build 1?</div>
<ul>
    <li>Complete overhaul!</li>
    <li>Added login system for users and admins.</li>
    <li>Added menu "Kegiatan", "Organisasi", and "Aspirasi".</li>
    <li>Added menu "Logbook", "Kalender", and "Public Sekre LEM".</li>
    <li>
        Added features for users to schedule meetings, upload files, send emails
        with templates, and view account logs.
    </li>
    <li>
        Added features for admins to manage meeting schedules and verification
        status.
    </li>
    <li>And much more...</li>
</ul>
