<h6>0.3a</h6>
<div>What's new in version 0.3a Build 1?</div>
<ul>
    <li>Added menu "Legislasi", "Panduan", and "Triwulan".</li>
    <li>Added search and filter menu for admins.</li>
    <li>Added reschedule-only hours to limit meeting hour options.</li>
    <li>
        Fixed bugs related to verification steps (distance between LEM-DPM
        meetings, distance between meetings and first date of activity.)
    </li>
    <li>Fixed disabled hour option in Safari.</li>
    <li>
        Fixed meeting schedule overlapping request (e.g. when DPM is selected
        while LEM is loading, LEM replaces DPM if it takes longer to load than
        DPM.)
    </li>
    <li>Added a gear (action button) to the admins activity popup.</li>
    <li>And much more...</li>
</ul>
