<h6>0.5b (minor)</h6>
<div>What's new in version 0.5b Build 2?</div>
<ul>
    <li>Added release notes explanation.</li>
</ul>
<div>What's new in version 0.5b Build 1?</div>
<ul>
    <li>Added release notes.</li>
</ul>

<h6>0.5a (MAJOR)</h6>
<div>What's new in version 0.5a Build 1?</div>
<ul>
    <li>PWA and integrated treasury system!</li>
    <li>Added manifest.json to make the web installable.</li>
    <li>Combined Fintime and Fincard into a new menu "Rutin Keuangan".</li>
    <li>Added feature that allows LPM to bypass LEM verification.</li>
    <li>Added dashboard status HUD.</li>
    <li>And much more...</li>
</ul>
