<h6>0.5b (minor)</h6>
<div>What's new in version 0.5b Build 3?</div>
<ul>
    <li>
        Fixed an issue where release notes were not displayed to users and
        admins.
    </li>
</ul>
<div>What's new in version 0.5b Build 2?</div>
<ul>
    <li>Added release notes explanation.</li>
</ul>
<div>What's new in version 0.5b Build 1?</div>
<ul>
    <li>Added release notes.</li>
</ul>

<h6>0.5a (MAJOR)</h6>
<div>What's new in version 0.5a Build 1?</div>
<ul>
    <li>PWA and integrated treasury system!</li>
    <li>Added manifest.json to make the web installable.</li>
    <li>Combined Fintime and Fincard into a new menu "Rutin Keuangan".</li>
    <li>Added feature that allows LPM to bypass LEM verification.</li>
    <li>Added dashboard status HUD.</li>
    <li>And much more...</li>
</ul>

<h6>0.4a (MAJOR)</h6>
<div>What's new in version 0.4a Build 1?</div>
<ul>
    <li>Added Fintime!</li>
    <li>Added Fintime search menu for guests.</li>
    <li>Added "Sistem" data manager for admins.</li>
    <li>And much more...</li>
</ul>

<h6>0.3a (MAJOR)</h6>
<div>What's new in version 0.3a Build 1?</div>
<ul>
    <li>QOL information!</li>
    <li>Added menu "Legislasi", "Panduan", and "Triwulan".</li>
    <li>Added search and filter menu for admins.</li>
    <li>Added reschedule-only hours to limit meeting hour options.</li>
    <li>Added a gear (action button) to the admins activity popup.</li>
    <li>
        Fixed bugs related to verification steps (distance between LEM-DPM
        meetings, distance between meetings and first date of activity.)
    </li>
    <li>Fixed disabled hour option in Safari.</li>
    <li>
        Fixed meeting schedule overlapping request (e.g. when DPM is selected
        while LEM is loading, LEM replaces DPM if it takes longer to load than
        DPM.)
    </li>
    <li>And much more...</li>
</ul>

<h6>0.2a (MAJOR)</h6>
<div>What's new in version 0.2a Build 1?</div>
<ul>
    <li>Complete overhaul!</li>
    <li>Added login system for users and admins.</li>
    <li>Added menu "Kegiatan", "Organisasi", and "Aspirasi".</li>
    <li>Added menu "Logbook", "Kalender", and "Public Sekre LEM".</li>
    <li>
        Added features for users to schedule meetings, upload files, send emails
        with templates, and view account logs.
    </li>
    <li>
        Added features for admins to manage meeting schedules and verification
        status.
    </li>
    <li>And much more...</li>
</ul>

<h6>0.1a (MAJOR)</h6>
<div>What's new in version 0.1a Build 1?</div>
<ul>
    <li>Created Web KM FK UII!</li>
    <li>Added a form for users to schedule meetings.</li>
    <li>
        Added a meeting schedule display consisting of queued and confirmed
        schedules.
    </li>
    <li>And much more...</li>
</ul>
