<h6>PLAN</h6>
<div>What's next?</div>
<ul>
    <li>0.8: Fincard editor.</li>
    <li>0.9: Database editor, no more hardcoded!</li>
    <li>1.0: How to maintain (data removal, documentation)</li>
</ul>

<h6>0.7a (MAJOR)</h6>
<div>What's new in version 0.7a Build 2?</div>
<ul>
    <li>Fixed Sub RKAT not showing on Fincard explorer.</li>
</ul>
<div>What's new in version 0.7a Build 1?</div>
<ul>
    <li>Added Fincard explorer!</li>
    <li>Added Fincard rating (sapphire, ruby, emerald.)</li>
    <li>
        Moved the Fincard last updated time to the back side and verification
        status to the front side.
    </li>
</ul>

<h6>0.6a (MAJOR)</h6>
<div>What's new in version 0.6a Build 2?</div>
<ul>
    <li>
        Fixed Fincard not updating correctly when activity details were updated.
    </li>
</ul>
<div>What's new in version 0.6a Build 1?</div>
<ul>
    <li>Added Fincard!</li>
    <li>
        Added Fincard to users and admins dashboard to display financial
        activity reports.
    </li>
    <li>
        Added Fincard mode (single, multi) and rating (basic, gold, platinum.)
    </li>
</ul>
