<div class="table-responsive">
    <table
        class="table table-striped align-middle text-center mb-1"
        style="min-width: max-content"
        id="table_logbook_kegiatan"
    >
        <thead class="table-light align-middle small">
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2" class="text-end">UID</th>
                <th rowspan="2" class="text-start">Nama Kegiatan</th>
                <th colspan="4">Status Verifikasi</th>
                <th rowspan="3">Aksi</th>
            </tr>
            <tr class="text-center">
                <th colspan="2">Proposal</th>
                <th colspan="2">LPJ</th>
            </tr>
            <tr class="text-center">
                <th colspan="3">
                    <div class="input-group">
                        <span class="input-group-text"
                            ><i class="fa-solid fa-magnifying-glass"></i
                        ></span>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="UID / Nama Kegiatan"
                            id="input_table_search"
                        />
                    </div>
                </th>
                <th id="th_status_proposal_lem" role="button">
                    <span>LEM</span><br />
                    <small><i class="fa-solid fa-filter"></i></small>
                </th>
                <th id="th_status_proposal_dpm" role="button">
                    <span>DPM</span><br />
                    <small><i class="fa-solid fa-filter"></i></small>
                </th>
                <th id="th_status_lpj_lem" role="button">
                    <span>LEM</span><br />
                    <small><i class="fa-solid fa-filter"></i></small>
                </th>
                <th id="th_status_lpj_dpm" role="button">
                    <span>DPM</span><br />
                    <small><i class="fa-solid fa-filter"></i></small>
                </th>
            </tr>
        </thead>
        <tbody class="small"></tbody>
    </table>
</div>
<div class="d-flex justify-content-between align-items-center p-3">
    <small>
        <span class="d-flex flex-wrap align-items-center small text-secondary">
            Menampilkan tiap
            <select
                class="form-select form-select-sm w-auto mx-1"
                id="logbook_table_select_jumlah_ditampilkan"
            >
                <option disabled selected>--</option>
            </select>
            <span id="logbook_table_jumlah_data">dari -- data</span>.
        </span>
    </small>
    <ul class="pagination m-0">
        <li class="page-item">
            <button class="page-link disabled" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item page-number">
            <button class="page-link active">1</button>
        </li>
        <li class="page-item">
            <button class="page-link disabled" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</div>

<style>
    #table_logbook_kegiatan tbody tr td:nth-child(3) {
        text-align: start !important;
    }
    #table_logbook_kegiatan tbody tr td:nth-child(2) {
        text-align: end !important;
    }
    #table_logbook_kegiatan thead tr:first-child th:last-child,
    #table_logbook_kegiatan tbody tr td:last-child {
        position: sticky;
        right: -1px;
        z-index: 1;
    }
</style>
