<!-- just a template -->
<div class="fincard-flip-card" style="height: 200px">
    <div class="fincard-flip-card-inner">
        <div class="fincard-flip-card-front">
            <div class="fincard fincard-basic fincard-shine">
                <div class="fincard-body">
                    <div class="d-flex align-items-center">
                        <span
                            class="fincard-title flex-grow-1 pe-2 text-truncate"
                            data-bs-toggle="tooltip"
                            data-bs-title="7th Asia-Pacific CardioMetabolic Syndrome Congress (APCMS) 2024"
                        >
                            7th Asia-Pacific CardioMetabolic Syndrome Congress
                            (APCMS) 2024
                        </span>
                        <div class="fincard-vica">VICA</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="label">
                                <span
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Pengeluaran"
                                >
                                    Out
                                </span>
                            </div>
                            <div class="fincard-out-text">100.000.000</div>
                        </div>
                        <div class="col">
                            <div class="label">
                                <span
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Rating pengeluaran"
                                >
                                    Rating
                                </span>
                            </div>
                            <div class="fincard-rating-text">Basic (1%)</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="label">
                                <span
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Pemasukan"
                                >
                                    In
                                </span>
                            </div>
                            <div class="fincard-in-text">100.000.000</div>
                        </div>
                        <div class="col">
                            <div class="label">
                                <span
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Sisa tersedia"
                                >
                                    Left
                                </span>
                            </div>
                            <div class="fincard-left-text">0</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 pe-2">
                            <div class="label">
                                <span
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Tahun dan Sub Aktivitas RKAT"
                                >
                                    RKAT
                                    <span class="fincard-rkat-year">2024</span>
                                </span>
                            </div>
                        </div>
                        <div
                            data-bs-toggle="tooltip"
                            data-bs-title="Terakhir diperbarui"
                        >
                            <i class="fa-solid fa-clock-rotate-left label"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div
                            class="fincard-rkat-subact flex-grow-1 pe-2 text-truncate"
                        >
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-title="Delegasi Lomba Akademik"
                            >
                                Delegasi Lomba Akademik
                            </span>
                        </div>
                        <div class="fincard-updated-text">04/23</div>
                    </div>
                </div>
                <div class="fincard-footer text-center" role="button">
                    <i class="fa-solid fa-reply"></i>
                </div>
            </div>
        </div>
        <div class="fincard-flip-card-back">
            <div class="fincard fincard-basic fincard-shine">
                <div class="fincard-body px-0">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="label">RKAT</th>
                                <td>
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Murni: 7.000.000"
                                    >
                                        -7.000.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="2" class="label">
                                    DPM
                                </th>
                                <td>
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    -600.000
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="4" class="label">
                                    Alokasi
                                </th>
                                <td>
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    +120.000
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        class="text-decoration-underline"
                                        role="button"
                                    >
                                        -50.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-equals label"></i>
                                    70.000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fincard-footer text-center" role="button">
                    <i class="fa-solid fa-share"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".fincard-footer").forEach((n) => {
        n.onclick = () =>
            document
                .querySelector(".fincard-flip-card")
                .classList.toggle("flipped");
    });
</script>
