<div class="table-responsive rounded small border">
    <table
        class="table table-striped align-middle text-center mb-1"
        id="fintime_rekapitulasi_keuangan_table"
    >
        <thead class="table-light align-middle">
            <tr>
                <th colspan="5" class="text-bg-dark">Rekapitulasi Keuangan</th>
            </tr>
            <tr>
                <th>No</th>
                <th>Transaksi</th>
                <th>Kredit</th>
                <th>Debit</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody class="small"></tbody>
        <tfoot class="small fw-bold"></tfoot>
    </table>
</div>
