<div class="card-body">
    <div class="row">
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header">Tahun RKAT</div>
                <div class="card-body p-1">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            Tahun ini
                        </li>
                        <li class="list-group-item">Tahun sebelum</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="card">
                <div class="card-header text-center text-bg-success-subtle">
                    Rekapitulasi Dana RKAT 2024
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organisasi</th>
                                <th>Idealita FIRAA 2024</th>
                                <th>Realita RKAT 2024</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
