<!-- more templates -->
<div class="fincard-flip-card" style="height: 240px">
    <div class="fincard-flip-card-inner">
        <div class="fincard-flip-card-front">
            <div class="fincard fincard-gold fincard-shine">
                <div class="fincard-header">
                    <div class="d-flex align-items-center px-3">
                        <span
                            class="fincard-title flex-grow-1 pe-2 text-truncate"
                            data-bs-toggle="tooltip"
                            data-bs-title="CMIA 23/24"
                        >
                            CMIA 23/24
                        </span>
                        <div class="fincard-vica">VICA</div>
                    </div>
                </div>
                <div class="fincard-body pt-0">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Pengeluaran"
                                        >Out</span
                                    >
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Rating pengeluaran"
                                    >
                                        Rating
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <td class="fincard-out-text">7.600.000</td>
                                <td class="fincard-rating-text">Gold</td>
                            </tr>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Pemasukan"
                                    >
                                        In
                                    </span>
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Sisa tersedia"
                                    >
                                        Left
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <td class="fincard-in-text">120.000</td>
                                <td class="fincard-left-text">70.000</td>
                            </tr>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Tahun RKAT"
                                    >
                                        RKAT
                                    </span>
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <i
                                        class="fa-solid fa-clock-rotate-left label"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Terakhir diperbarui"
                                    ></i>
                                </th>
                            </tr>
                            <tr>
                                <td class="">
                                    <span
                                        class="fincard-rkat-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="2024—2025"
                                    >
                                        2024—2025
                                    </span>
                                </td>
                                <td class="">
                                    <span
                                        class="fincard-updated-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="6/17/2024, 10:21:48 PM"
                                    >
                                        06/24
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fincard-footer p-0 text-center">
                    <div class="row g-1">
                        <div class="col d-grid px-0 py-2" role="button">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div
                            class="col d-grid px-0 py-2 fincard-flip-button"
                            role="button"
                        >
                            <i class="fa-solid fa-reply"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fincard-flip-card-back">
            <div class="fincard fincard-gold fincard-shine">
                <div class="fincard-body">
                    <table class="back-table table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="label">RKAT</th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar RKAT"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        class="text-decoration-underline"
                                        role="button"
                                    >
                                        -7.000.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="2" class="label">
                                    DPM
                                </th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar DPM"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    -600.000
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Masuk DPM"
                                >
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="3" class="label">
                                    Alokasi
                                </th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Masuk alokasi"
                                >
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    +120.000
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar alokasi"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        class="text-decoration-underline"
                                        role="button"
                                    >
                                        -50.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Sisa tersedia"
                                >
                                    <i class="fa-solid fa-equals label"></i>
                                    70.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="label">LPJ</th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Terverifikasi 53%"
                                >
                                    <i
                                        class="fa-solid fa-check-double label"
                                    ></i>
                                    Unverified
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fincard-footer p-0 text-center">
                    <div class="row g-1">
                        <div class="col d-grid px-0 py-2" role="button">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div
                            class="col d-grid px-0 py-2 fincard-flip-button"
                            role="button"
                        >
                            <i class="fa-solid fa-share"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fincard-flip-card" style="height: 240px">
    <div class="fincard-flip-card-inner">
        <div class="fincard-flip-card-front">
            <div class="fincard fincard-basic fincard-shine">
                <div class="fincard-header">
                    <div class="d-flex align-items-center px-3">
                        <span
                            class="fincard-title flex-grow-1 pe-2 text-truncate"
                            data-bs-toggle="tooltip"
                            data-bs-title="7th Asia-Pacific CardioMetabolic Syndrome Congress (APCMS) 2024"
                        >
                            7th Asia-Pacific CardioMetabolic Syndrome Congress
                            (APCMS) 2024
                        </span>
                        <div class="fincard-vica">VICA</div>
                    </div>
                </div>
                <div class="fincard-body pt-0">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Pengeluaran"
                                        >Out</span
                                    >
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Rating pengeluaran"
                                    >
                                        Rating
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <td class="fincard-out-text">7.600.000</td>
                                <td class="fincard-rating-text">Unrated</td>
                            </tr>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Pemasukan"
                                    >
                                        In
                                    </span>
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Sisa tersedia"
                                    >
                                        Left
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <td class="fincard-in-text">120.000</td>
                                <td class="fincard-left-text">70.000</td>
                            </tr>
                            <tr>
                                <th scope="col" class="fw-normal label">
                                    <span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Tahun/Sub Aktivitas RKAT"
                                    >
                                        RKAT
                                    </span>
                                </th>
                                <th scope="col" class="fw-normal label">
                                    <i
                                        class="fa-solid fa-clock-rotate-left label"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Terakhir diperbarui"
                                    ></i>
                                </th>
                            </tr>
                            <tr>
                                <td class="">
                                    <span
                                        class="fincard-rkat-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="2024/Delegasi Lomba Akademik"
                                    >
                                        2024/Dele...
                                    </span>
                                </td>
                                <td class="">
                                    <span
                                        class="fincard-updated-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="6/17/2024, 10:21:48 PM"
                                    >
                                        06/24
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="fincard-footer text-center fincard-flip-button"
                    role="button"
                >
                    <i class="fa-solid fa-reply"></i>
                </div>
            </div>
        </div>
        <div class="fincard-flip-card-back">
            <div class="fincard fincard-basic fincard-shine">
                <div class="fincard-body">
                    <table class="back-table table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="label">RKAT</th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar RKAT"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        class="text-decoration-underline"
                                        role="button"
                                    >
                                        -7.000.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="2" class="label">
                                    DPM
                                </th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar DPM"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    -600.000
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Masuk DPM"
                                >
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="3" class="label">
                                    Alokasi
                                </th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Masuk alokasi"
                                >
                                    <i
                                        class="fa-regular fa-circle-left label"
                                    ></i>
                                    +120.000
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Keluar alokasi"
                                >
                                    <i
                                        class="fa-solid fa-circle-right label"
                                    ></i>
                                    <span
                                        class="text-decoration-underline"
                                        role="button"
                                    >
                                        -50.000
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Sisa tersedia"
                                >
                                    <i class="fa-solid fa-equals label"></i>
                                    70.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="my-1" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="label">LPJ</th>
                                <td
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Belum terverifikasi"
                                >
                                    <i class="fa-solid fa-check label"></i>
                                    Unverified
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="fincard-footer text-center fincard-flip-button"
                    role="button"
                >
                    <i class="fa-solid fa-share"></i>
                </div>
            </div>
        </div>
    </div>
</div>
